.Container {
  position: absolute;
  top: 0; left: 0;
  width: 320px;
  height: 280px;
}
#Scroller-1 { 
  position: absolute; 
  overflow: hidden;
  width: 320px;
  height: 280px;
}
#Scroller-2{ 
  position: absolute; 
  overflow: hidden;
  width: 320px;
  height: 280px;
}
.Scroller-Container {
  position: absolute;
  top: 0px; left: 0px;
}
#Scrollbar-Container {
  position: absolute;
  top: 0; left: 320px;
}
#Scrollbar-Container1{
  position: absolute;
  top: 0; left: 320px;
}
.Scrollbar-Up {
  cursor: pointer;
  position: absolute;
}
.Scrollbar-Track {
  width: 5px; height: 270px;
  position: absolute;
  background:#fff;
  top: 5px; left:10px;
  border:1px solid #e3e6ce;
border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;
}
.Scrollbar-Handle {
  position: absolute;
  width: 32px; height: 32px;
  left:-12px;
}
.Scrollbar-Down {
  cursor: pointer;
  position: absolute;
  top: 187px;
}